<!DOCTYPE html>
<html ng-app="twitterApp">
<head>
    <title>AngularJS Instant Tweet Search Application</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="oauth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
    <style>
        .container {
           margin-top: 10px;
            margin-bottom: 10px;
        }
        #results .row {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .navbar {
            background-color: #55acee;
            -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
            font-family: 'Gotham Narrow SSm','Helvetica Neue',Helvetica,sans-serif;
            height: 48px;
            position: relative;
            width: 100%;
            z-index: 888;
            color : #fff;
        }
        .navbar p {
            margin-left: 20px;
            margin-top: 10px;
            font-size: 18px;
        }
        .right-container {
            padding : 10px;
        }

    </style>
    </head>
    <body>
        <div class="navbar">
           <p> Twitter Sample Implementation</p>
         </div>
        <div class="container" ng-controller="TwitterController">
        <div class="row">
            <div class="sidebar col-xs-3" ng-show="connectedTwitter">
                <div>
                    <input type="text" class="form-control" placeholder="Post here" ng-model="tweet">
                </div>
                <div>
                    <button class="btn-info btn pull-right" style="margin-top:10px" ng-click="postTweet()">Post Tweet</button>
                </div>
                
            </div>
            <div class="right-container  col-xs-8">
                 <div class="row">
                <div class="col-xs-6">
                    <button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Twitter Sign In</button>
                    <button ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="btn btn-info" style="display:none;">Get My Timeline</button>
                <button ng-click="signOut()" id="signOut" type="button" class="btn btn-link" style="display:none;">Sign Out</button>
            </div>
            <div class="col-xs-6">
                <input type="text" ng-model="searchTerm" class="form-control" id="searchBox" placeholder="Enter search term here" ng-show="connectedTwitter" ng-enter="searchTweets()"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="results">
                <div class="row" ng-repeat="t in tweets" ng-hide="hideTweets">

                    <div class="col-xs-2 col-sm-1">
                        <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
                    </div>
                    <div class="col-xs-8 col-sm-10">
                        <small>{{t.user.name}}</small><br> <span ng-bind-html="t.text"></span>
                    </div>
                    <div class="col-xs-2 col-sm-1"> 
                        <span ng-click="deleteTweet(t,$index)" class="glyphicon glyphicon-trash" style="    cursor : pointer;"></span>
                    </div>

                </div>

                <div class="row" ng-repeat="t in searchedTweets.statuses" ng-show="hideTweets">

                    <div class="col-xs-2 col-sm-1">
                        <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
                    </div>
                    <div class="col-xs-8 col-sm-11  ">
                        <small>{{t.user.name}}</small><br> <span ng-bind-html="t.text"></span>
                    </div>
                </div>

                <div ng-show="rateLimitError">
                  Rate limit reached. You are making too many requests.
                </div>
                <!-- <div>
                    <br/>
                    <input type="button" class="btn btn-info" id="load-more" ng-click="refreshTimeline(tweets[tweets.length-1].id)" ng-show="connectedTwitter" value="Load More"/>
                </div> -->
            </div>
        </div>



            </div>
        </div>
         
    </div>
</body>
</html>
